[submodule "ansible/plugins/modules/aur"]
	path = ansible/plugins/modules/aur
	url = https://github.com/kewlfft/ansible-aur.git
[submodule "ansible/plugins/modules/ansible-aur"]
	path = ansible/plugins/modules/ansible-aur
	url = https://github.com/kewlfft/ansible-aur.git
[submodule "aur"]
	path = ansible/plugins/modules/aur
	url = https://github.com/kewlfft/ansible-aur.git
